
@using FluentLang.Compiler.Diagnostics
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject IDiagnosticFormatter DiagnosticFormatter

<div class="body">
    <div class="split left">
        <header class="header">Code</header>
        <div id="editor" class="flex">@InitialSource</div>
    </div>
    <div class="split right">
        <div class="tab header">
            <button class=@(CurrentTab == Tab.EmittedCSharp ? "tablinks active" : "tablinks")
                    @onclick=@(() => CurrentTab = Tab.EmittedCSharp)>
                Emitted CSharp
            </button>
            <button class=@(CurrentTab == Tab.Result ? "tablinks active" : "tablinks")
                    @onclick=@(() => CurrentTab = Tab.Result)>
                Result
            </button>
        </div>
        <div id="csharp" class="output flex" hidden=@(CurrentTab != Tab.EmittedCSharp)>
            <pre class="output" @ref="EmittedCSharpRef" hidden="@(EmittedCSharp is null)">
                <code class="lang-csharp" ></code>
            </pre>
        </div>
        <div id="result" class="output flex" hidden=@(CurrentTab != Tab.Result)>
            @Result
        </div>
        <div id="diagnostics" class="output diagnostic flex" hidden=@(Diagnostics.IsDefault)>
            <header>Diagnostics</header>
            <ul>
                @if (!Diagnostics.IsDefault)
                {
                    @foreach (var diagnostic in Diagnostics)
                    {
                        <li>@($"ERROR! Location: {DiagnosticFormatter.CreateLocationMessage(diagnostic)}, Message: {DiagnosticFormatter.CreateDiagnosticMessage(diagnostic)}")</li>
                    }
                }
            </ul>
        </div>
        <div id="runtime-error" class="output diagnostic flex" hidden=@(RuntimeError == null)>
            <header>Runtime Error</header>
            @RuntimeError
        </div>
    </div>
</div>

@code {

    Tab CurrentTab = Tab.EmittedCSharp;
    ElementReference EmittedCSharpRef;

    enum Tab
    {
        EmittedCSharp,
        Result,
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initEditor", _thisRef).AsTask();
        }
        if (EmittedCSharp != null)
            await Highlight();
    }

    private ValueTask Highlight()
    {
        return JsRuntime.InvokeVoidAsync("highlight", EmittedCSharpRef, EmittedCSharp);
    }

    const string InitialSource = @"Main(): int {
	let counter = CreateCounter();
	let counter1 = counter.Increment();
	let counter2 = counter1.Increment();
	let counter3 = counter2.Increment();
	return counter3.Value();
}

interface Counter
{
    Increment() : Counter;
    Value() : int;
}

CreateCounter() : Counter
{
      return {} + Increment, Value;
      Increment(counter : Counter) : Counter
      {
          let value = counter.Value();
          return counter + Value;
          Value(this : {}) : int
          {
              return value + 1;
          }
      }

      Value(counter : {}) : int
      {
          return 0;
      }
}";
}
